*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fs-1 {
  font-size: 2rem;
}

.fs-2 {
  font-size: 1.5rem;
}

.fs-3 {
  font-size: 1.17rem;
}

.fs-4 {
  font-size: 1rem;
}

.fs-5 {
  font-size: 0.83rem;
}

.fs-6 {
  font-size: 0.67rem;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.17rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.83rem;
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.67rem;
}

.btn-1 {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: #f4f4f4;
  box-shadow: 0 10px 30px #0041a7;
  border: 3px solid #a7c9ff;
  background-color: #0e6cff;
  outline: #0e6cff;
  transition: all 0.3s;
  position: relative;
}
.btn-1:hover {
  box-shadow: 0 3px 10px #0e6cff;
  background-color: #0e6cff;
  color: #0e6cff;
  z-index: 1;
}

.btn-2 {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: #f4f4f4;
  box-shadow: 0 10px 30px #995100;
  border: 3px solid #ffcf99;
  background-color: #ff8700;
  outline: #ff8700;
  transition: all 0.3s;
  position: relative;
}
.btn-2:hover {
  box-shadow: 0 3px 10px #ff8700;
  background-color: #ff8700;
  color: #ff8700;
  z-index: 1;
}

.btn-3 {
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  color: #f4f4f4;
  box-shadow: 0 10px 30px #2d682f;
  border: 3px solid #b5dfb7;
  background-color: #4caf50;
  outline: #4caf50;
  transition: all 0.3s;
  position: relative;
}
.btn-3:hover {
  box-shadow: 0 3px 10px #4caf50;
  background-color: #4caf50;
  color: #4caf50;
  z-index: 1;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
}
.navbar .menu {
  list-style: none;
  display: flex;
}

.hero {
  background-color: #640fc5;
  justify-content: center;
  color: #f4f4f4;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 1px solid #000;
}
.hero img {
  border-radius: 20px;
  box-shadow: 0px 12px 16px 4px rgba(0, 0, 0, 0.44);
  border: 1px solid #0e6cff;
}

.card {
  position: relative;
}
.card img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.2);
}
.card img.fade-in-1 {
  animation-name: fade-in-1;
  animation-duration: 1s;
  animation-timing-function: fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fade-in-1 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card img.fade-in-2 {
  animation-name: fade-in-2;
  animation-duration: 1s;
  animation-timing-function: fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fade-in-2 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card img.fade-in-3 {
  animation-name: fade-in-3;
  animation-duration: 1s;
  animation-timing-function: fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fade-in-3 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card img.fade-in-4 {
  animation-name: fade-in-4;
  animation-duration: 1s;
  animation-timing-function: fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fade-in-4 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.margin-block-sm {
  margin-block: 0px;
}

.margin-block-normal {
  margin-block: 0.25rem;
}

.margin-block-md {
  margin-block: 0.5rem;
}

.margin-block-lg {
  margin-block: 1rem;
}

.margin-block-xl {
  margin-block: 1.5rem;
}

.margin-block-xxl {
  margin-block: 3rem;
}

.margin-inline-sm {
  margin-inline: 0px;
}

.margin-inline-normal {
  margin-inline: 0.25rem;
}

.margin-inline-md {
  margin-inline: 0.5rem;
}

.margin-inline-lg {
  margin-inline: 1rem;
}

.margin-inline-xl {
  margin-inline: 1.5rem;
}

.margin-inline-xxl {
  margin-inline: 3rem;
}

.padding-block-sm {
  padding-block: 0px;
}

.padding-block-normal {
  padding-block: 0.25rem;
}

.padding-block-md {
  padding-block: 0.5rem;
}

.padding-block-lg {
  padding-block: 1rem;
}

.padding-block-xl {
  padding-block: 1.5rem;
}

.padding-block-xxl {
  padding-block: 3rem;
}

.padding-inline-sm {
  padding-inline: 0px;
}

.padding-inline-normal {
  padding-inline: 0.25rem;
}

.padding-inline-md {
  padding-inline: 0.5rem;
}

.padding-inline-lg {
  padding-inline: 1rem;
}

.padding-inline-xl {
  padding-inline: 1.5rem;
}

.padding-inline-xxl {
  padding-inline: 3rem;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: 25%;
  flex-shrink: 0;
}

.col-2 {
  flex-basis: 33.3333333333%;
  flex-shrink: 0;
}

.col-3 {
  flex-basis: 50%;
  flex-shrink: 0;
}

.col-4 {
  flex-basis: 100%;
  flex-shrink: 0;
}/*# sourceMappingURL=style.css.map */